*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto', sans-serif;   

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 80px;

}
.logo{
    font-size: 22px;
}
nav i{
    font-size: 25px;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-size: 22px;
    margin-inline: 22px;
    color: white;
}
ul li a:hover{
    color: rgb(248, 24, 62);
}
.main{
    display: flex;
    justify-content: space-around;
    margin-top: 107px;
}
.main img{
    width: 325px;
}
.main h1{
    font-size: 55px;
}
.main p{
    color: rgb(18, 18, 18);
    margin-top: 22px;
}
.main button{
    width: 140px;
    height: 40px;
    background-color: rgb(248, 15, 54);
    color: white;
    border: none;
    margin-top: 22px;
    cursor: pointer;
    font-size: 19px;
}
.mainText{
    margin-top: 74px;
}
.head{
    text-align: center;
    padding: 88px;
}
.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shopCard{
    width: 300px;
    margin-inline: 22px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 25px;
}
.shopCard p{
    margin-top: 11px;
}
.shopCard img{
    width: 100%;
    height: 300px;
}
.shopCard button{
    width: 90px;
    height: 28px;
    background-color: rgb(247, 17, 55);
    color: white;
    cursor: pointer;
    border: none;
    font-size: 18px;
    margin-top: 11px;
}
.arrival{
    display: flex;
    justify-content: center;
    width: 900px;
    background-color: black;
    color: white;
    padding: 22px;
    margin: auto;
}
 .arrivalText{
    padding: 22px;
 }
 .arrivalText p{
    margin-top: 22px;
 }
 .arrivalText button{
    margin-top: 22px;
    width: 110px;
    height: 33px;
    background-color: rgb(247, 17, 55);
    color: white;
    cursor: pointer;
    border: none;
    font-size: 18px;
    margin-top: 11px;
 }
.arrival img{
    width: 500px;
}
.blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.blogCard{
    width: 300px;
    margin-inline: 22px;
    margin-top: 32px;
}
.blogCard a{
    padding: 4px 22px;
    font-size: 20px;
    background-color: rgb(245, 17, 55);
    color: white;
    text-decoration: none;
    position: relative;
    top: 22px;
}
.blogCard img{
    width: 100%;
    height: 300px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 66px;
    margin-top: 66px;
    background-color: black;
    color: white;
}
.text{
    margin-top: 33px;
}
.text p{
    margin-top: 12px;
}
.empty{
    padding: 5px 22px;
    font-size: 25px;
    background-color: rgb(248, 14, 53);
    color: white;
    text-decoration: none;
    margin: auto;
    position: absolute;
    top: 33px;
    margin-left: 40%;
}
.detailCard{
    width: 800px;
    display: flex;
    gap: 22px;
    margin: auto;
    margin-top: 66px;
}
.detailCard img{
    width: 300px;
}
.detailCard h1{
    margin-top: 11px;
}
.detailCard p{
    margin-top: 21px;
}
.detailCard a{
    padding: 6px 22px;
    background-color: black;
    color: white;
    font-size: 24px;
    position: relative;
    top: 33px;
    text-decoration: none;
}


@media screen and (max-width:990px){
    .main{
        display: block;
        text-align: center;
    }
    .arrival{
        display: block;
         width: 80%;
    }
    .arrival img{
        width: 100%;
    }
    .detailCard{
        display: block;
        width: 90%;
        text-align:center;
    }
}

@media screen and (max-width:700px){
    ul{
        display: none;
    }
}

@media screen and (max-width:570px){
    .main h1{
        font-size: 33px;
    }
    .main img{
        width: 90%;
    }
    .detailCard img{
        width: 90%;
    }
}