*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(2, 2, 20);
    color: white;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 80px;
    background-color: rgb(2, 2, 20);

}
ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    margin-inline: 22px;
    font-size: 22px;

}
ul li a:hover{
    color: aqua;
    cursor: pointer;
}
.logo{
    font-size: 22px;
}
.main{
    margin-top: 111px;
    display: flex;
    justify-content: center;
}
.main img{
    width: 700px;
}
.main h1{
    font-size: 66px;
}
.main p{
    font-size: 18px;
    margin-top: 22px;
}
.main button{
    width: 140px;
    height: 40px;
    background-color: aqua;
    cursor: pointer;
    border: none;
    margin-top: 25px;
}
.main h3{
    font-size: 27px;
}
.mainText{
    margin-top: 64px;
}
.head{
    text-align: center;
    padding: 88px;
}
.about{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    justify-content: center;
    padding: 22px;
}
.about img{
    width: 300px;
    height: 310px;
    border-radius: 50%;
    border: 6px solid aqua;
}
.about p{
    margin-top: 22px;
    font-size: 20px;
}
.about h1{
    font-size: 53px;
}
.btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btns button{
    padding: 11px;
    border: none;
    margin-inline:11px ;
    background-color: rgb(246, 5, 45);
    font-size: 20px;
    color: white;
    border-radius: 2px;
    margin-top: 11px;
}
.service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.serviceCard{
    width: 300px;
    padding: 22px;
    background-color: gray;
    color: white;
    margin-inline: 20px;
    margin-top: 22px;
    text-align: center;
}
.serviceCard i{
    font-size: 83px;
}
.serviceCard p{
    margin-top: 22px;
}
.serviceCard h2{
    margin-top: 22px;
}
.serviceCard button{
    margin-top: 22px;
    width: 100px;
    height: 33px;
    border: none;
    background-color: pink;

}
.work{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.workCard{
      text-align: center;
      margin-top: 44px;
}
.workCard img{
    width: 600px;
    border-radius: 5px;
    margin-inline: 22px;
}
.workCard a{
    padding: 5px 22px;
    background-color: rgb(250, 50, 83);
    color: white;
    text-decoration: none;
    position: relative;
    top: 11px;
}
.contact{
    width: 400px;
    margin: auto;
    padding: 22px;
    background-color: gray;
    text-align: center;
}
.contact input{
    width: 90%;
    padding: 11px;
    height: 12px;
    margin-top: 22px;

    font-size: 18px;

}
.contact textarea{
    width: 96%;
    font-size: 20px;
    margin-top: 22px;
}

.contact button{
    width: 100px;
    height: 33px;
    background-color: rgb(254, 42, 77);
    color: white;
    border: none;
    margin-top: 22px;
    font-size: 19px;
}
.icons{
    text-align: center;
    font-size: 52px;
    margin-top: 52px;
}
.footer{
    padding: 33px;
}
.text{
    text-align: center;
}
.text p{
    margin-top: 11px;
    font-size: 22px;
}
#bar{
    display: none;
    font-size: 26px;
}

@media screen and (max-width:1100px){
    .main{
        text-align: center;
        display: block;
    }
}

@media screen and (max-width:670px){
    .workCard img{
        width: 80%;
    }
    .main img{
        width: 90%;
    }
    .main h1{
        font-size: 34px;
    }
    .main p{
        font-size: 15px;
    }
}

@media screen and (max-width:500px){
    .contact{
        width: 80%;
    }
    .about{
        text-align: center;
    }
    .about img{
        width: 90%;
        height: 200px;
    }
    .about p{
        font-size: 15px;
    }
}

@media screen and (max-width:760px){
    ul{
        display: none;
    }
    #bar{
        display: block;
    }
}