.container{
    width: 70vh;
    height: 70vh;
    /* background-color: red; */
    margin: auto;
    background-image: url(clock.png);
    background-size: 100%;
}
#hour, #minute, #second{
    position: absolute;
    background-color: black;
    border-radius: 14px;
    transform-origin: bottom;
}
#hour{
    width: 0.6%;
    height: 13%;
    left: 49.7%;
    top: 18%;;
   

}
#minute{
    width: 0.6%;
    height: 15%;
    left: 49.7%;
    top: 16%;

}
#second{
    width: 0.6%;
    height: 18%;
    left: 49.7%;
    top: 13%;

}