 *{
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
 }
 body{
   background-color: rgb(230, 230, 230);
 }
 .container{
    width: 800px;
    margin: auto;
    text-align: center;
    margin-top: 55px;

 }
  
 textarea{
    height: 270px;
    font-size: 18px;
    background-color: rgb(230, 230, 230);
   border: 1px solid black;
   border-radius: 11px;
   margin-top: 25px;
   padding: 6px;
 }
 .textBox{
    padding: 11px;
    margin-top: 11px;
    border-radius: 11px;
 }
 .textBox p{
    margin-top: 11px;
    font-weight: 500;
    font-size: 20px;
 }
  
 .textBox button{
    width: 110px;
    height: 40px;
    border: none;
    font-size: 25px;
    border-radius: 6px;
    background-color: rgb(253, 22, 60);
    cursor: pointer;
    color: white;
    margin-top: 12px;
 }