body{
    font-family: 'Roboto', sans-serif;   
}
.container{
    width: 300px;
    padding: 11px;
    margin: auto;
    box-shadow: 0px 3px 3px 3px rgb(164, 164, 164);
    border-radius: 4px;
}
#heading{
    text-align: center;
    font-size: 33px;
}
.container p{
    font-size: 20px;
}
input{
    width: 90%;
    height: 11px;
    padding: 11px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 3px;
    margin-top: -22px;
}
#calculate{
    width: 99%;
    height: 36px;
    background-color: rgb(0, 106, 255);
    color: white;
    font-size: 24px;
    margin-top: 22px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#relode{
    width: 99%;
    height: 36px;
    background-color: transparent;
    color: black;
    font-size: 22px;
    margin-top: 11px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}
#bmi{
    text-align: center;
    margin-top: 11px;
}
#category{
    text-align: center;
    font-size: 22px;
}