*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(64, 63, 63);
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 80px;
    background-color: black;
}
ul{
    display: flex;

}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-inline: 22px;
}
.logo{
    color: white;
    font-size: 21px;
}
.main{
    display: flex;
    gap: 33px;
    justify-content: center;
    margin-top: 141px;
}
.main img{
    width: 600px;
}
.mainText{
    margin-top: 44px;
}
.main h1{
    font-size: 44px;
}
.main p{
    margin-top: 22px;
    color: rgb(225, 224, 224);
}
.main button{
    width: 140px;
    height: 39px;
    background-color: rgb(255, 83, 20);
    color: white;
    font-size: 18px;
    border: none;
    margin-top: 22px;
}
.head{
    text-align: center;
    padding: 88px;
}
.foods{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.foodCard{
    width: 300px;
    padding: 11px;
    background-color: #fff;
    margin-inline: 22px;
    margin-top: 26px;
    color: black;
    cursor: pointer;
}
.foodCard img{
    width: 100%;
}
.foodCard p{
    padding: 7px;
}
.foodCard button{
    width: 130px;
    background-color: orangered;
    color: white;
    padding: 3px;
    border: none;
    font-size: 18px;
    
}

.reviews{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.reviewCard{
    width: 300px;
    padding: 22px;
    background-color: #fff;
    text-align: center;
    margin-inline: 22px;
    color: black;
    border-radius: 11px;
    margin-top: 22px;
}
.reviewCard img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.trends{
    width: 900px;
    height: 300px;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.trendFood{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    overflow: hidden;
   transition: all 1s ease;
}
.trendFood img{
    width: 240px;
    height: 240px;
    margin-inline: 12px;
}

.blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.blogCard{
    width: 300px;
    height: 270px;
    background-color: #fff;
    color: black;
    margin-inline: 22px;
    padding: 11px;
    margin-top: 22px;
}
.blogCard img{
    width: 100%;
}
.blogCard a{
    padding: 4px 12px;
    background-color: orange;
    color: white;
    text-decoration: none;
    position: relative;
    top: 16px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 66px;
    margin-top: 66px;

}
.text{
    margin-top: 22px;
}
.text p{
    margin-top: 11px;
}
 .footer #arrow{
    background-color: #fff;
    color: black;
    font-size: 25px;
    padding: 6px;
    border-radius: 50%;
    margin-top: 22px;
 }
.cardDetail{
    width: 500px;
    padding: 32px;
    background-color: #fff;
    text-align: center;
    border-radius: 11px;
    position: fixed;
    top: 4%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 40%);
    color: black;
}
.cardDetail img{
    width: 300px;
}
.cardDetail i{
    position: absolute;
    left: 1px;
    top: 1px;
    font-size: 25px;
    padding: 11px;
    cursor: pointer;
}

@media screen and (max-width:1100px){
    .main{
        display: block;
        text-align: center;
    }
    .main img{
        margin-top: 22px;
    }
}


@media screen and (max-width:920px){
    .trends{
        width: 90%;
    }
    .trendFood img{
        width: 200px;
        margin-inline: 6px;
    }
}

@media screen and (max-width:670px){
    .trends{
        width: 90%;
    }
    .trendFood img{
        width: 80px;
        height: 130px;
        margin-inline: 3px;
    }
}

#bar{
    display: none;
    font-size: 26px;
}
@media screen and (max-width:750px){
   ul li{
    display: none;
   }
   #bar{
    display: block;
   }
   .main img{
    width: 90%;
    border-radius: 11px;
   }
   .main h1{
    font-size: 31px;
   }
   .cardDetail{
    width: 70%;
   }
   .cardDetail img{
    width: 200px;
   }
}