*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #494949;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0%;
    height: 70px;
    background-color: black;
    color: white;
}
nav ul{
    display: flex;
}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    margin-inline: 22px;
}
.logo{
    font-size: 22px;
}
.main{
    display: flex;
    gap: 44px;
    justify-content: center;
    margin-top: 155px;

}
.main img{
    width: 600px;
}
.mainText{
    margin-top: 33px;
    color: white;
}
.mainText h1{
    font-size: 45px;
}
.mainText p{
    margin-top: 22px;
    color: rgb(204, 204, 204);

}
.mainText button{
    margin-top: 22px;
    width: 140px;
    height: 37px;
    background-color: rgb(252, 84, 22);
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.foods{
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: center;
}
.foods img{
    width: 100%;
}
.card{
    width: 300px;
    background-color: #fff;
    padding: 11px;
    cursor: pointer;
}
.card p{
    padding: 11px;
}
.card button{
    width: 100px;
    height: 30px;
    font-size: 16px;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
}
.head{
    text-align: center;
    padding: 88px;
    color: white;
}
.reviews{
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: center;
     
}
.reviewCard{
    width: 300px;
    background-color: #fff;
    text-align: center;
    padding: 22px;
    border-radius: 11px;
}
.reviews img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.trendFood{
    
    width: 900px;
    height: 300px;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.trendFood .trends{
    display: flex;
    justify-content: center;
    gap: 22px;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    margin: auto;
    transition: all 1s ease;
     
}
 .trends img{
    width: 270px;
    background-color: #fff;
    padding: 4px;
}

.blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.blogCard{
    width: 300px;
    height: 280px;
    margin-inline: 22px;
    background-color: white;
    padding: 11px;
    margin-top: 22px;
}
.blogCard img{
    width: 100%;
}
.blogCard p{
    padding: 11px;
}
.blogCard a{
    text-decoration: none;
    color: white;
    padding: 5px 14px;
    background-color: orange;
    position: relative;
    top: 12px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 66px;
    margin-top: 66px;
}
.footer .text p{
    margin-top: 11px;
}

.cardDetail{
    position: fixed;
    top: 4%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 40%);
    width: 600px;
    padding: 21px;
    background-color: white;
    text-align: center;
    color: black;
}
.cardDetail img{
    width: 300px;
}
.cardDetail i{
    position: absolute;
    left: 0px;
    top: -1px;
    padding: 8px;
    background-color: black;
    color: white;
    font-size:22px;
    cursor: pointer;
}
#bar{
    display: none;
    font-size: 27px;
}

@media screen and (max-width:1100px){
    .main{
        display: block;
        text-align: center;

    }
    .main img{
        margin-top: 22px;
    }
}

@media screen and (max-width:800px){
    ul li{
        display: none;
    }
    #bar{
        display: block;
    }
}

@media screen and (max-width:700px){
    .main img{
        width: 90%;
        border-radius: 22px;
    }
    .cardDetail{
        width: 80%;
    }
    .cardDetail img{
        width: 200px;
    }
}

 

@media screen and (max-width:930px){
    .trendFood{
        width: 90%;
    }
     .trends img{
        width: 160px;
        height: 200px;
    }
}
 
@media screen and (max-width:600px){
    .main h1{
       font-size: 34px;
    }
    .mainText{
        padding: 6px;
    }
    .trendFood{
        width: 90%;
    }
    .trendFood .trends{
         display: flex;
         gap: 11px;
    }
     .trends img{
         width: 22%;
         height: 120px;
    }
}