*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto', sans-serif;   
    background-color: orange;
    padding: 44px;
}
#addNote{
    width: 200px;
    height: 180px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 40px;
    border: none;
}
.myNote{
    width: 200px;
    height: 140px;
    border-radius: 4px;
    background-color: #fff;
    border: none;
    padding: 11px;
}
.myNote p{
    margin-top: 11px;
}
.note{
    display: flex;
     gap: 22px;
}
.newNotes{
    display: flex;
    gap: 33px;
}
.myNote button{
    margin-top: 11px;
    width: 80px;
    height: 27px;
    background-color: orange;
    color: white;
    position: fixed;
    top: 161px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.addForm{
    display: none;
    width: 300px;
    padding: 21px;
    border-radius: 3px;
    background-color: white;
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%,40%);
    top: -7%;


}
.addForm input{
    width: 90%;
    height: 12px;
    padding: 11px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 3px;
}
.inputs{
    margin-top: 22px;
}
textarea{
    width: 93%;
    padding: 5px;
    font-size: 18px;
}
.inputs p{
    font-size: 20px;
}
#addBtn{
    width: 100%;
    height: 36px;
    background-color: rgb(255, 111, 0);
    color: white;
    font-size: 24px;
    margin-top: 22px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.head{
    display: flex;
    justify-content: space-between;
}
.head button{
    border: none;
    background-color: transparent;
    font-size: 33px;
    cursor: pointer;
}