 .box{
    width: 200px;
    margin: auto;
    text-align: center;
    margin-top: 155px;
 }
 button{
    width: 150px;
    height: 42px;
    background-color: rgb(5, 181, 251);
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 24px;
    cursor: pointer;

 }
 p{
    font-size: 22px;
 }